/////////////////////
//  Layout styles  //
/////////////////////

.top-container {
  width: 100%;
  min-width: $content__min-width--md;
  @include centerThis('top');
  z-index: 0;
}

//
//  This is a top container, disengaged from 'page' so we can add content that might be
//  invisible or will behave different than render items, like tokes or so.
//  It is configured as the lowest layer, so we can also build a custom html background
//
