/////////////////////
//  Layout styles  //
/////////////////////

.bottom-container {
  width: 100%;
  min-width: $content__min-width--md;
  @include centerThis('top');
  z-index: 3;
}

//
//  This is the bottom container. It's meant for render elements that might not be visible
//  all the time, like modals or galleries. You can also store tokes if you need to.
//  It is configured as the upper layer, so you can also build custom badges that need to be
//  fixed on screen position.
//
