/////////////////////
//  Layout styles  //
/////////////////////

.modal__wrapper {
  width: 100vw;
  height: 100vh;
  @include centerThis();
  position: fixed;
  //overflow: scroll;
}

.modal {
  width: 60%;
  //min-width: $content__min-width--md;
  height: 70%;
  //min-height: $content__min-width--md;
  @include centerThis();
}
