/////////////////////
//  Layout styles  //
/////////////////////

.header__wrapper {
  width: 100%;
}

.header {
  max-width: $content__max-width--md;
  height: $header__height--md;
  position: relative;
  margin: 0 auto;
}

.header__item {
  height: 100%;
  position: absolute;
  top: 0;
}

.header__item--logo {
  width: $logo__width--md;
  left: 0;
  z-index: 2;
}

.header__item--main-menu {
  width: 100%;
  padding-left: $logo__width--md;
  padding-right: $lang-bar__width--md + $download-summary__width--md;
  left: 0;
  z-index: 1;
}

.header__item--lang-bar {
  width: $lang-bar__width--md;
  right: $download-summary__width--md;
  z-index: 3;
  //
  // layout page header, move language switcher all the way to the right
  // right: 30px;
}

.header__item--download-summary {
  width: $download-summary__width--md;
  right: 0;
  z-index: 2;
  // 
  // layout page header, hide download button temporarily
  // display: none;
}


////////////////////////
//  Query Properties  //
////////////////////////

@include respondTo('tablet') {
  .header__item--logo {
    // width: $logo__width--sm;
    padding: 0 10px;
  }

  .header__item--main-menu {
    // padding-left: $logo__width--sm;
  }
}