/////////////////////
//  Layout styles  //
/////////////////////

.page__wrapper {
  min-width: $content__min-width--md;
  position: relative;
  z-index: 1;
}

//
//  This is the main container for render elements.
//  It is configured as the medium layer, any page content including headers, navigation menus,
//  toolbars, footers and foot signs should be placed here.
//
