/////////////////////
//  Layout styles  //
/////////////////////

.footer__wrapper {
  width: 100%;
}

.footer {
  // max-width: $content__max-width--md;
  height: $footer__height--md;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.footer__item {
  width: 100%;
}

.footer__item--link-list {
  width: 300px;
  height: 40px;
  @include centerThis('right');
  right: 40px;
}

.footer__item--footer-tag {
  max-width: $content__max-width--md;
  height: 40px;
  @include centerThis();
}
