/////////////////////////////////
//  Print Country Card Styles  //
/////////////////////////////////

@media only print {
  .country-card,
  .country-summary-data__item {
    border-radius: unset;
    box-shadow: unset;
    background: unset;
  }

  .country-card__resume {
    margin-right: 0px;
  }

  .country-card__menu {
    display: none;
  }

  .country-summary {
    width: auto;
  }

  // .country-summary-topic,
  // .country-summary-topic__topic,
  // .country-summary-topic__graph,
  // .topic-partial-score__bar-wrapper,
  // .topic-partial-score__bar {
  //   height: 50px;
  // }

  // .country-summary-topic__icon {
  //   width: 50px;
  //   height: 50px;
  // }

  // .country-summary-topic__icon-img {
  //   width: 80%;
  // }

  .country-summary-topic.is-odd {
    background-color: $grayscale__gray-0;
  }

  .country-summary-data__topic-heading {
    padding: 0;
  }

  .country-summary-topic__name {
    padding-top: 16px;
  }

  .country-summary-data {
    margin-top: 10px;
  }

  .country-summary-topic__auxiliar-text {
    display: none;
  }

  // .topic-period-data-card {
  //   page-break-inside: avoid;
  // }
}

// body.for-print.level-topics {
//   .data__item,
//   .country-summary-topic,
//   .recommendations--print {
//     page-break-inside: avoid;
//   }
// }
// body.for-print.level-subtopics {
//   .country-summary-data__topic-total,
//   .data__block {
//     page-break-inside: avoid;
//   }
// }
body.for-print.level-topics,
body.for-print.level-subtopics,
body.for-print.level-questions {
  .row-subject-graph,
  .country-summary-topic,
  .topic-rubrics__data--print,
  .topic-rubrics__data-item,
  .topic-period-data-card__heading,
  .topic-period-data__item-heading {
    page-break-inside: avoid;
  }
  .country-summary-data__item {
    page-break-after: always;
  }
}
body.for-print.level-topics {
  .country-summary-data__item {
    page-break-after: avoid;
  }
}