/////////////////////////
//  Print Main Styles  //
/////////////////////////

.header--print {
  display: none;
}

.print-result__tooltip {
  width: 100%;
  padding: 30px;
  background-color: $grayscale__gray-4;
  color: $grayscale__white;
  text-align: center;
}

.print-result__tooltip p {
  margin: 0;
  font-size: 10pt;
}

body.for-print {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-image: unset;

  .header {
    display: none;
  }

  .header--print {
    display: block;
  }

  // .data__item {
  //   page-break-inside: avoid;
  // }

  .page__footer-container {
    display: none;
  }

}

@media only print {
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    background-image: unset;
  }

  .header {
    display: none;
  }

  .header--print {
    display: block;
  }

  .print-result__tooltip {
    display: none;
  }

  // .data__item {
  //   page-break-inside: avoid;
  // }

  .page__footer-container {
    display: none;
  }
}