/////////////////////
//  Layout styles  //
/////////////////////

.container {
  margin: 20px;
  padding: 20px;
}


///////////////////
//  Core Styles  //
///////////////////

.container {
  line-height: 1.6em;
  border: 1px solid $grayscale__gray-0;
}
