/////////////////////
//  Layout styles  //
/////////////////////

.contact-form__wrapper {
  width: 100%;
}

.contact-form {
  max-width: 700px;
  margin: 20px auto;
}

.contact-form__header {
  padding: 20px 40px;
}

.contact-form__body {}

.contact-form__form {}

///////////////////
//  Core Styles  //
///////////////////

.contact-form {
  background-color: $grayscale__white;
  overflow: hidden;
  @include card();
}

.contact-form__header {
  background-color: $ui__ucla-gold;
  color: $grayscale__white;
}

.contact-form__title {
  font-size: 22pt;
  margin: 0;
}

.contact-form__intro-text p {
  font-size: 10pt;
  margin: 0;
}

.contact-form__mail-link {
  color: $ui__low-blue;
  transition: color 0.2s;
}

.contact-form__mail-link:hover,
.contact-form__mail-link:visited {
  color: $ui__nautilus;
}

.contact-form__body,
.contact-form__sucess,
.contact-form__error {
  padding: 20px 40px;
  transition: opacity 0.2s;
}

.contact-form__sucess,
.contact-form__error {
  display: none;
  opacity: 0;
}

.contact-form__error {
  padding-bottom: 0;
}

.contact-form__sucess-message {
  color: $grayscale__gray-4;
}

.contact-form__form {}

.contact-form__group {
  border: none;
}

.contact-form__data-row {
  width: 100%;
  display: block;
}

.contact-form__row-error,
.contact-form__error-message {
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
  border: 1px solid $eval-color__red;
  position: relative;
  display: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.contact-form__error-message {
  color: $eval-color__red;
  opacity: 1;
  display: block;

  h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12pt;
  }

  p {
    margin: 0;
    font-size: 9pt;
    line-height: 9pt;
  }
}

.contact-form__row-error:before,
.contact-form__error-message:before {
  display: block;
  width: 20px;
  height: 100%;
  background-color: $eval-color__red;
  content: '';
  @include centerThis('left');
}

.contact-form__row-error:after,
.contact-form__error-message:after {
  display: block;
  width: 20px;
  height: 20px;
  content: '!';
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  color: $grayscale__white;
  @include centerThis('left');
}

.contact-form__body.is-hidding {
  opacity: 0;
}

.contact-form__body.is-removed {
  display: none;
}

.contact-form__data-row.is-rendering-error .contact-form__row-error,
.contact-form__error.is-rendering-error,
.contact-form__sucess.is-rendering-sucess {
  display: block;
}

.contact-form__data-row.is-showing-error .contact-form__row-error,
.contact-form__error.is-showing-error,
.contact-form__sucess.is-showing-sucess {
  opacity: 1;
}

.contact-form__row-error-message {
  font-size: 10pt;
  color: $eval-color__red;
}

.contact-form__data-label {
  display: block;
  margin: 10px 0;
  color: $grayscale__gray-4;
}

.contact-form__data-input {
  width: 100%;
  border: 1px solid $grayscale__gray-2;
  padding: 8px;
  box-sizing: border-box;
}

.contact-form__data-input--send {
  width: 200px;
  background-color: $ui__turtle-green;
  @include roundBorders(3px);
  color: $grayscale__white;
  border: none;
}