/////////////////////
//  Layout styles  //
/////////////////////

.country-summary-data {
  width: 100%;
}


///////////////////
//  Core Styles  //
///////////////////

.country-summary-data {
  margin-top: 80px;
}

.country-summary-data__results {}

.country-summary-data__item {
  margin: 20px 0;
}
