/////////////////////
//  Layout styles  //
/////////////////////

.country-comparison-table__row {
  min-height: 50px;
  line-height: 50px;
}

.country-comparison-table__column {
  min-width: 200px;
  max-width: 200px;
  width: 200px;
}

.country-comparison-table__column--reactive {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
}

.country-comparison-table__column--country {
  // min-width: 150px;
}


///////////////////
//  Core Styles  //
///////////////////

.country-comparison-table,
.country-comparison-table__clone {
  border-collapse: collapse;
}

.country-comparison-table__clone-container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.country-comparison-table__clone-container-layer {
  position: absolute;
  width: 100%;
  top: 0;
  pointer-events: none;
}

.country-comparison-table__clone-container-layer-1 {
  z-index: 11;
}

.country-comparison-table__clone-container-layer-2 {
  z-index: 12;
}

.country-comparison-table__clone {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.country-comparison-table__clone--column {
  z-index: 1;
  opacity: 0;
}

.country-comparison-table__clone--header {
  z-index: 2;
  pointer-events: all;
}

.country-comparison-table__clone--cell {
  z-index: 1;
}

.country-comparison-table__column {
  vertical-align: top;
}

.country-comparison-table__column_container {
  overflow: hidden;
  white-space: nowrap;
}

.country-comparison-table__column.is-odd {
  background-color: rgba($grayscale__black, 0.02);
}

.country-comparison-table__column.is-hidden {
  display: none;
}

.country-comparison-table__column--country.is-odd {
  background-color: rgba($grayscale__white, 0.2);
}

.country-comparison-table__column--head {
  @include fontStyle('semi-bold');
  letter-spacing: 0.05em;
  position: relative;
}

.country-comparison-table__header-label {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 5px;
  padding-right: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.country-comparison-table__header-close-button {
  width: 6%;
  max-width: 15px;
  height: 20px;
  line-height: initial;
  @include centerThis('right');
  right: 15px;
}

.country-comparison-table__header-close-button-img {
  width: 100%;
  height: auto;
  @include centerThis();
}

.country-comparison-table__column--head:first-child {
  text-align: left;

  .country-comparison-table__header-label {
    padding-left: 30px;
  }
}

.country-comparison-table__question {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 10px 15px;
  color: $grayscale__gray-4;
  font-size: 11pt;
  @include fontStyle('light');
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.country-comparison-table__question-label {}

// .country-comparison-table__row.is-odd {
//   background-color: $grayscale__gray-0;

//   .country-comparison-table__question {
//     border-left: 15px solid $grayscale__gray-4;
//   }
// }

// .country-comparison-table__row.is-even {
//   background-color: $grayscale__white;

//   .country-comparison-table__question {
//     border-left: 15px solid $grayscale__gray-3;
//   }
// }

.country-comparison-table__row--level-0 {
  background-color: $grayscale__gray-1!important;

  .country-comparison-table__column {
    border-top: 20px solid $grayscale__white;
  }

  .country-comparison-table__question {
    padding-left: 30px;
    border-left: 0!important;
    @include fontStyle('semi-bold');
    color: $grayscale__gray-4;
  }
}

.country-comparison-table__row--level-0:first-child {
  .country-comparison-table__column {
    border-top: 0;
  }
}

.country-comparison-table__row--level-1 {
  background-color: $grayscale__white;
}

.country-comparison-table__row--level-2 {
  background-color: $grayscale__gray-0;

  .country-comparison-table__question {
    // border-left-width: 40px!important;
    border-left: 40px solid $grayscale__gray-1;
  }
}

.country-comparison-table__row--level-3 {
  background-color: $grayscale__gray-1;

  .country-comparison-table__question {
    // border-left-width: 60px!important;
    border-left: 60px solid $grayscale__gray-2;
  }
}

.country-comparison-table__header {
  color: $grayscale__white;

  .country-comparison-table__row {
    background-color: $grayscale__gray-3;
  }
}

.country-comparison-table__label {
  display: block;
  box-sizing: border-box;
  height: 30px;
  width: 80%;
  margin: 10px 10%;
  @include roundBorders(15px);
  overflow: hidden;
  text-indent: 100%;
  @include addShadow('drop');
}

// TODO, .country-comparison-table__label migth be better named as follows
.country-comparison-table__result {
  position: relative;
}

.country-comparison-table__result-show {
  width: 20px;
  height: 20px;
  line-height: initial;
  @include centerThis('right');
  right: 10px;
}

.country-comparison-table__result-show-img {
  width: 100%;
  height: auto;
  opacity: 0.4;
  @include centerThis();
  transition: transform 0.2s;
}

.country-comparison-table__result-show-img--more {
  transform: translate(0, 0px);
}

.country-comparison-table__result-show-img--less {
  transform: translate(0, 100px);
}

.country-comparison-table__label--true {
  background-color: $eval-color__green-500;
}

.country-comparison-table__label--false {
  background-color: $eval-color__red;
}

.country-comparison-table__answers {
  display: none;
}

.country-comparison-table__answer {
  padding: 5px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.country-comparison-table__answer.is-even {
  background-color: $grayscale__gray-0;
}

.country-comparison-table__answer.is-odd {
  background-color: $grayscale__gray-1;
}

.country-comparison-table__answer p {
  margin: 0;
  font-size: 10pt;
  color: $grayscale__gray-4;
}

/////////////////////
//  Action Styles  //
/////////////////////

// By default, hide all the country-specific columns
.country-comparison-table__clone .is-country-specific,
.country-comparison-table .is-country-specific {
  display: none;
}

.country-comparison-table__clone .is-country-specific.is-visible,
.country-comparison-table .is-country-specific.is-visible {
  display: table-cell;
}

.country-comparison__table-container.is-hiding-questions {
  .country-comparison-table__row--level-0 .country-comparison-table__column {
    border-top-width: 2px;
  }
  .country-comparison-table__row--level-1,
  .country-comparison-table__row--level-2,
  .country-comparison-table__row--level-3, {
    display: none;
  }
}

//.country-comparison-table.is-file-expanded,
.country-comparison__table-container.is-file-expanded,
//.country-comparison-table.is-showing-answers,
.country-comparison-table__row.is-expanded {
  .country-comparison-table__answers {
    display: block;
  }

  .country-comparison-table__result-show-img--more {
    transform: translate(0, 100px);
  }

  .country-comparison-table__result-show-img--less {
    transform: translate(0, 0px);
  }

  .country-comparison-table__column_container {
    white-space: normal;
  }
}

.country-comparison-table__clone--column.is-visible {
  opacity: 1;
}

// .country-comparison-table__clone.is-showing-expanded-rows,
// .country-comparison-table.is-showing-expanded-rows,
// .country-comparison-table__row.is-expanded {
//   .country-comparison-table__column_container {
//     white-space: normal;
//   }
// }

// .country-comparison-table.is-showing-expanded-rows {
//   .country-comparison-table__question {
//     height: auto!important;
//   }
// }