/////////////////////
//  Layout styles  //
/////////////////////

.is-country_comparison { // Body variant
  .main {
    max-width: initial;
  }
}

.country-comparison__wrapper {
  width: 100%;
  margin: 30px 0;
  overflow: auto;
}

.country-comparison {
  width: 94%;
  min-width: 980px; // Min value to avoid overlapping
  margin: 0 auto;
  position: relative;
}

.country-comparison__heading {
  // height: 120px;
  height: 170px;
}

.country-comparison__title-bar {
  height: 60px;
  position: relative;
}

.country-comparison__menu-bar {
  height: 60px;
  padding: 7px 0;
}

.country-comparison__indicators-bar {
  height: 50px;
  position: relative;
  background-color: $grayscale__white;
  padding: 5px 30px;
  border-bottom: 1px solid $grayscale__gray-0;
  text-align: center;
}

.country-comparison__table-container {
  overflow: auto;
  height: 500px;
  position: relative;
}

.country-comparison__table {
  width: 100%;
}


///////////////////
//  Core Styles  //
///////////////////

.country-comparison {
  @include card();
}

.country-comparison__heading {
  background-color: $ui__ucla-gold;
}

.country-comparison__title-bar {
  background-color: rgba($grayscale__white, 0.2);
}

.country-comparison__title {
  margin: 0;
  padding-left: 30px;
  font-size: 18pt;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: $grayscale__white;
  @include fontStyle('semi-bold');
}

.country-comparison__title-sub {
  font-size: 14pt;
}

.country-comparison__export-button {
  width: 100px;
  height: 30px;
  padding-left: 15px;
  padding-right: 30px;
  background-color: rgba($grayscale__white, 0.16);
  display: block;
  @include centerThis('right');
  right: 30px;
  text-decoration: none;
  @include roundBorders(20px);
  color: $grayscale__white!important;
}

.country-comparison__export-button-label {
  line-height: 30px;
  font-size: 9pt;
  font-weight: bold;
}

.country-comparison__export-button-img {
  width: 20px;
  height: auto;
  @include centerThis('right');
  right: 10px;
}
