/////////////////////////////////
//  Print Country Card Styles  //
/////////////////////////////////

.country-summary--print {

  .country-summary-data__item {
    border-radius: unset;
    box-shadow: unset;
    background: unset;
  }

  .country-summary-data__item.is-hidden {
    display: none;
  }

  .country-card {
    border-radius: unset;
    box-shadow: unset;
  }

  .country-card__resume {
    margin-right: 0px;
  }

  .country-card__menu {
    display: none;
  }

  .country-summary {
    width: auto;
  }

  .country-summary-topic.is-odd {
    background-color: $grayscale__gray-0;
  }

  .country-summary-data__topic-heading {
    padding: 0;
  }

  .country-summary-topic__name {
    padding-top: 16px;
  }

  .country-summary-data {
    margin-top: 10px;
  }

  .country-summary-topic__auxiliar-text {
    display: none;
  }

  .country-summary-data__topic-partials {
    border: 1px solid $grayscale__gray-2;
    border-top: 4px solid $grayscale__gray-2;
  }

  .data__block {
    display: none;
  }

  .data__block.is-shown {
    display: block;
  }
}

.topic-rubrics__data--print {
  border-top: 6px solid $grayscale__white;
  display: none;

  .topic-rubrics-graph__partial-year {
    display: none;
  }
}

.evaluation-details--print {
  display: none;

  .topic-period-data-card--evaluation_details {
    box-shadow: unset;
    border-top: 6px solid $grayscale__white;

    .topic-period-data-card__heading {
      padding: 0 30px;
    }

    .topic-period-data__item {
      padding: 20px 30px;
    }
  }

  .topic-period-data__source-table {
    width: 100%;
  }
}

.recommendations--print {
  padding: 0!important;
  display: none;

  .topic-period-data-card__wrapper {
    width: 100%;
    margin: 0;
  }

  .topic-period-data-card {
    border-radius: unset;
    box-shadow: unset;
  }

  .topic-period-data-card__heading {
    padding: 0 30px;
    border-top: 6px solid $grayscale__white;
  }

  .topic-period-data__item {
    padding: 30px;
  }
}

.country-summary--print.is-showing-topic {}

.country-summary--print.is-showing-subtopic {
  .country-summary-topic {
    border-top: 6px solid $grayscale__white;
    box-sizing: content-box;
  }

  .data__block:first-child .country-summary-topic {
    border-top: 0;
  }

  .topic-rubrics__data--print {
    display: block;
  }
}

.country-summary--print.is-showing-questions {
  .country-summary-topic {
    border-top: 20px solid $grayscale__gray-2;
    box-sizing: content-box;
  }

  .data__block:first-child .country-summary-topic {
    border-top: 0;
  }

  .evaluation-details--print {
    display: block;
  }
}

.country-summary--print.is-showing-recommendations {
  .recommendations--print {
    display: block;
  }
}