///////////////////
//  Core Styles  //
///////////////////

.country-bg--ARG {
  background-image: url('../img/countries/argentina.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--BLZ {
  background-image: url('../img/countries/belice.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--BOL {
  background-image: url('../img/countries/bolivia.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--BRA {
  background-image: url('../img/countries/brasil.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--CHL {
  background-image: url('../img/countries/chile.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--COL {
  background-image: url('../img/countries/colombia.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--CRI {
  background-image: url('../img/countries/costa-rica.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--CUB {
  background-image: url('../img/countries/cuba.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--ECU {
  background-image: url('../img/countries/ecuador.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--SLV {
  background-image: url('../img/countries/el-salvador.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--GTM {
  background-image: url('../img/countries/guatemala.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--GUY {
  background-image: url('../img/countries/guyana.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--HND {
  background-image: url('../img/countries/honduras.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--JAM {
  background-image: url('../img/countries/jamaica.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--MEX {
  background-image: url('../img/countries/mexico.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--NIC {
  background-image: url('../img/countries/nicaragua.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--PAN {
  background-image: url('../img/countries/panama.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--PRY {
  background-image: url('../img/countries/paraguay.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--PER {
  background-image: url('../img/countries/peru.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--DOM {
  background-image: url('../img/countries/republica-dominicana.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--LCA {
  background-image: url('../img/countries/saint-lucia.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--TTO {
  background-image: url('../img/countries/trinidad-y-tobago.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--URY {
  background-image: url('../img/countries/uruguay.svg');
  background-position: center left;
  background-repeat: no-repeat;
}

.country-bg--VEN {
  background-image: url('../img/countries/venezuela.svg');
  background-position: center left;
  background-repeat: no-repeat;
}
