/////////////////////
//  Layout styles  //
/////////////////////

.country-card__wrapper {
  // The original design restricted the height to 200px
  // but we will allow it to grow a little, since the texts
  // aren't long enough to require a modal screen
  // height: 200px;
}

.country-card {
  height: 100%;
  position: relative;
}

.country-card__global-score {
  width: 65px;
  height: 100%;
  @include centerThis('left');
  z-index: 2;
}

.country-card__country-picture {
  width: 190px;
  height: 100%;
  @include centerThis('left');
  left: 65px;
  z-index: 3;
}

.country-card__resume {
  margin: 0;
  margin-left: 255px;
  margin-right: 65px;
  height: 100%;
  position: relative;
  z-index: 1;
}

.country-card__resume a {
  display: inline-block;
  padding: 0 3px;
  background-color: rgba(56, 119, 153, .25);
  color: rgba(0, 0, 0, .75);
  text-decoration: none;
  border-radius: 3px;
  transition: background-color .5s;
}

.country-card__resume a:after {
  content: '\f0c1';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0 3px;
  text-decoration: none;
  color: rgba(0, 0, 0, .75);
}

.country-card__resume a:hover {
  background-color: rgba(56, 119, 153, .5);
}

.country-card__menu {
  width: 65px;
  height: 100%;
  @include centerThis('right');
  z-index: 3;
}

///////////////////
//  Core Styles  //
///////////////////

.country-card {
  margin: 30px 0;
  background: $grayscale__gray-0;
  @include card();
}
.country-card__global-score {
  background-color: $ui__low-blue;
  border-right: 4px solid $ui__nautilus;
}

.country-card__country-picture {
  background-color: $ui__pitch-blue;
}

.country-card__heading {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-size: 24pt;
}

.country-card__heading-label {
  display: block;
  height: 40px;
  @include centerThis();
  text-align: center;
  color: $grayscale__white;
  @include fontStyle("semi-bold");
}

.country-card__resume {
  padding: 25px;

  p {
    font-size: 10pt;
    line-height: 14pt;
    margin: 0 0 1em 0;
  }
}

.country-card__menu {
  background-color: $grayscale__gray-1;
}


////////////////////////////
//  Country Global Score  //
////////////////////////////

.country-global-score__bar-wrapper {
  width: 65px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.country-global-score__bar {
  height: 100%;
  width: 65px;
  background-color: $ui__nautilus;
  @include centerThis();
}

.country-global-score__number-indicator {
  width: 65px;
  height: 40px;
  @include centerThis('top');
  line-height: 40px;
  font-size: 14pt;
  text-align: center;
  color: $grayscale__white;
  @include fontStyle('semi-bold');
}


/////////////////////////
//  Country Card Menu  //
/////////////////////////

.country-card-menu {
  width: 100%;
  height: 100%;
}

.country-card-menu__list {
  width: 100%;
  height: 100%;
  position: relative;
}

.country-card-menu__item {
  width: 100%;
  height: 65px;
}

.country-card-menu__item-tooltip {
  width: 300px;
  padding: 15px 10px;
  position: absolute;
  left: -200%;
  top: 110%;
  z-index: 10;
  background-color: $grayscale__gray-4;
  @include card();
  text-align: center;
  transform: translate(0, -20px);
  opacity: 0;
  transition: opacity 0.8s, transform 0.7s;
}

.country-card-menu__item-tooltip-label {
  color: $grayscale__white;
  font-size: 9pt;
}

.country-card-menu__item:hover {
  .country-card-menu__item-tooltip {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.country-card-menu__label {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 100%;
  @include centerThis();
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.country-card-menu__item--close {
  @include centerThis('top');
}

.country-card-menu__label--close {
  background-image: url('../img/icons/close--blue.png');
}

.country-card-menu__item--print {
  @include centerThis('top');
}

.country-card-menu__label--print {
  background-image: url('../img/icons/print--blue.png');
}

.country-card-menu__item--see-more {
  @include centerThis('bottom');
}

.country-card-menu__label--see-more {
  background-image: url('../img/icons/see-more--blue.png');
}
