/////////////////////
//  Layout styles  //
/////////////////////

.country-topic-comparison__wrapper {
  width: 100%;
  height: 420px;
}

.country-topic-comparison {
  width: 94%;
  height: 100%;
  margin: 0 auto;
}

.country-topic-comparison__heading {
  height: 120px;
}

// THIS IS DONE ON PURPOSE
// The height is reduced to 60 because the period selector will
// be hidden this year, but we need to preserve the styles for
// the future, when periods are enabled.
.country-topic-comparison__heading {
  background-color: red;
  height: 60px;
}
.ctc-year-selector {
  display: none;
}
.country-topic-comparison__wrapper {
  height: 360px;
}
// END OF period-selection-disabling measures


.country-topic-comparison__data {
  height: 300px;
}

.country-topic-comparison__data-list {
  height: 100%;
}


///////////////////////
//  Core Properties  //
///////////////////////

.country-topic-comparison {
  @include card();
}

.country-topic-comparison__heading {
  background-color: $ui__pitch-blue;
}

.country-topic-comparison__country-name {
  margin: 0;
  padding-left: 40px;
  @include fontStyle('bold');
  height: 60px;
  line-height: 60px;
}

.country-topic-comparison__country-name__link {
  color: $grayscale__white;
  text-decoration: none;
}

.country-topic-comparison__data {
  background-color: $grayscale__white;
}


////////////////////////////////////////////////
//  Country Topic Comparison - Year Selector  //
////////////////////////////////////////////////

.ctc-year-selector {
  height: 60px;
  border-top: 1px solid rgba($grayscale__white, 0.2);
  position: relative;
}

.ctc-year-selector__indicator {
  padding-left: 40px;
  padding-right: 500px;
  background-color: $ui__medium-blue;
}

.ctc-year-selector__indicator-label {
  height: 60px;
  line-height: 60px;
  @include fontStyle('semi-bold');
  color: $grayscale__white;
}

.ctc-year-selector__years {
  width: 500px;
  height: 60px;
  padding: 0 60px;
  background-color: pink;
  @include centerThis('right');
  background-color: $ui__pitch-blue;
}

.ctc-year-selector__nav-link {
  width: 60px;
  height: 100%;
  background-color: rgba($ui__medium-blue, 0.4);
}

.ctc-year-selector__nav-label {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  overflow: hidden;
  line-height: 60px;
  padding-left: 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
}

.ctc-year-selector__nav-link--prev {
  @include centerThis('left');

  .ctc-year-selector__nav-label {
    background-image: url('../img/ui/prev_indicator.png');
  }
}

.ctc-year-selector__nav-link--next {
  @include centerThis('right');

  .ctc-year-selector__nav-label {
    background-image: url('../img/ui/next_indicator.png');
  }
}

.ctc-year-selector__years-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ctc-year-selector__year-item {
  width: 100%;
  height: 100%;
  text-align: center;
}

.ctc-year-selector__year-label {
  height: 60px;
  line-height: 60px;
  @include fontStyle('bold');
  font-size: 18pt;
  color: $grayscale__white;
}


////////////////////////
//  Query Properties  //
////////////////////////

@include respondTo('tablet') {
  .ctc-year-selector__years {
    width: 400px;
  }
}
