/////////////////////
//  Layout styles  //
/////////////////////

.country-comparison-instructions {
  width: 100%;
  height: 100%;
}


///////////////////
//  Core Styles  //
///////////////////

.country-comparison-instructions {
  background-color: $grayscale__white;
  padding: 30px;
}

.country-comparison-instructions__step {
  clear: both;
}

.country-comparison-instructions__step-title {
  font-size: 12pt;
  color: $grayscale__gray-3;
}

.country-comparison-instruction__selected-country {
  display: none;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 35px;
  background-color: $grayscale__gray-4;
  color: $grayscale__white;
  font-size: 10pt;
  font-weight: bold;
  position: relative;
  @include roundBorders(20px);
}

.country-comparison-instruction__selected-country-close {
  width: 30px;
  height: 30px;
  @include centerThis('right');
}

.country-comparison-instruction__selected-country-close-img {
  width: 12px;
  height: auto;
  @include centerThis();
}


////////////////////
//  State styles  //
////////////////////

.country-comparison-instruction__selected-country.is-hidden {
  display: none;
}

.country-comparison-instruction__selected-country.is-rendered {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.2s;
}

.country-comparison-instruction__selected-country.is-visible {
  opacity: 1;
}