/////////////////////
//  Layout styles  //
/////////////////////

.data__list {
  margin: 0;
  padding: 0;
}

.data__list--horizontal {
  .data__item {
    // display: inline-block;
    display: block;
    float: left;
  }
}

.data__list--vertical {
  .data__item {
    display: block;
  }
}

.data__item {}

.data__row {
  display: block;
  position: relative;
}

.data__column-left {
  @include centerThis('left');
}

.data__column-right {
  @include centerThis('right');
}


///////////////////
//  Core Styles  //
///////////////////

.data__list {
  list-style-type: none;
}
