/////////////////////
//  Layout styles  //
/////////////////////

.data__item--country-summary-topic {
  height: auto;
  min-height: 90px;
}

.country-summary-data__topic-total {
  height: 90px;
  padding-top: 60px;
  padding-left: 360px;
}

.country-summary-data__topic-partials {
  height: auto;
}


///////////////////
//  Core Styles  //
///////////////////

.data__item--country-summary-topic {
  background-color: $grayscale__gray-0;
  @include card();
}

.country-summary-data__topic-heading {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  margin: 0;
  padding: 0 40px;
  color: $grayscale__gray-4;
  line-height: 60px;
  font-size: 18pt;
  @include fontStyle('semi-bold');
}

.country-summary-data__topic-total-label {
  width: 360px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.country-summary-data__topic-total-label:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba($grayscale__black, 0.15);
}

.country-summary-data__topic-partials {
  border-top: 4px solid $grayscale__gray-2;
}

/////////////////////////
//  Topic Total Score  //
/////////////////////////

.topic-total-score__bar-wrapper {
  height: 30px;
  background-color: $grayscale__gray-1;
  position: relative;
  overflow: hidden;
}

.topic-total-score__bar {
  height: 30px;
  // background-color: $grayscale__gray-4;
  @include centerThis();
  margin-right: 60px;
}

.topic-total-score__number-indicator {
  width: 60px;
  height: 20px;
  @include centerThis('right');
  right: -60px;
  line-height: 20px;
  font-size: 10pt;
  text-align: center;
  color: $grayscale__gray-3;
  @include fontStyle('bold');
}


/////////////////////////
//  Individual Topics  //
/////////////////////////

.country-summary-topic {
  height: 60px;
  position: relative;
}

.country-summary-topic.is-even {
  background-color: $grayscale__gray-1;
}

.country-summary-topic__topic {
  width: 360px;
  height: 60px;
  padding-left: 60px;
}

.country-summary-topic__icon {
  width: 60px;
  height: 60px;
  @include centerThis('left');
}

.country-summary-topic__icon-img {
  @include centerThis();
  width: 100%;
  height: auto;
}

.country-summary-topic__name {
  font-size: 10pt;
  padding: 0 20px;
  padding-top: 8px;
  //height: 46px;
  //@include centerThis();
}

.country-summary-topic__link {
  text-decoration: none;
}

.country-summary-topic__label {
  @include fontStyle('semi-bold');
  color: $grayscale__black;
  text-decoration: underline;
}

.country-summary-topic__auxiliar-text {
  display: block;
  color: $grayscale__gray-3;
  @include fontStyle('light');
  cursor: pointer;
}

.country-summary-topic__graph {
  width: 100%;
  height: 60px;
  padding-left: 360px;
  pointer-events: none;
}


/////////////////////////
//  Topic Total Score  //
/////////////////////////

.topic-partial-score__bar-wrapper {
  height: 60px;
  background-color: $grayscale__gray-1;
  position: relative;
  overflow: hidden;
}

.topic-partial-score__bar {
  height: 60px;
  // background-color: $grayscale__gray-4;
  @include centerThis();
  margin-right: 60px;
}

.topic-partial-score__number-indicator {
  width: 60px;
  height: 20px;
  @include centerThis('right');
  right: -60px;
  line-height: 20px;
  font-size: 10pt;
  text-align: center;
  color: $grayscale__gray-3;
  @include fontStyle('bold');
}
