/////////////////////
//  Layout styles  //
/////////////////////

.data__item--regional-comparison-country {
  //height: 175px;
  height: auto;
}

.regional-comparison-country__topic-score {
  height: 140px;
}

.regional-comparison-country__global-score {
  height: 35px;
}

.regional-comparison-country__picture {
  width: 220px;
  height: 140px;
  z-index: 2;
}

.regional-comparison-country__topic-graph {
  width: 100%;
  height: 140px;
  padding-left: 220px;
  z-index: 1;
}


///////////////////
//  Core Styles  //
///////////////////

.data__item--regional-comparison-country {
  background-color: $grayscale__white;
  @include card();
}

.regional-comparison-country__global-score {
  background-color: $grayscale__gray-0;
}

.regional-comparison-country__picture {
  background-color: $ui__pitch-blue;
  position: relative;
}

.regional-comparison-country__link {
  display: block;
  width: 100%;
  height: 100%;
  @include centerThis();
  z-index: 2;
  text-decoration: none;
}

.regional-comparison-country__label {
  display: block;
  height: 25px;
  padding-left: 25px;
  @include centerThis();
  color: $grayscale__white;
  @include fontStyle("semi-bold");
  font-size: 16pt;
  margin-right: 50px;
}

.regional-comparison-country__label:after {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../img/icons/icon_plus.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $grayscale__gray-2;
  @include roundBorders(15px);
  @include centerThis('right');
  right: -30px;
}

// Make the two-line country labels fit nicely in the vertical space
.regional-comparison-country__picture.country-bg--TTO,
.regional-comparison-country__picture.country-bg--DOM {
  .regional-comparison-country__label {
    height: 50px;
  }
}

.data__item--regional-comparison-country.is-even {
  .regional-comparison-country__picture:after {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba($grayscale__gray-3, 0.4);
    @include centerThis();
    z-index: 1;
  }
}


/////////////////////
//  Partial Score  //
/////////////////////

.partial-score__bar-wrapper {
  height: 35px;
  position: relative;
  overflow: hidden;
}

.partial-score__bar {
  height: 35px;
  //background-color: $grayscale__gray-0;
  @include centerThis();
  margin-right: 40px;
}

.partial-score__average-indicator {
  height: 35px;
  // background-image: url('../img/ui/regional-comparison_partial-score-average-indicator.png');
  // background-position: right center;
  // background-repeat: no-repeat;
  border-right: 2px dotted $grayscale__gray-2;
  @include centerThis();
}

.partial-score__number-indicator {
  width: 40px;
  height: 20px;
  @include centerThis('right');
  right: -40px;
  line-height: 20px;
  font-size: 10pt;
  text-align: center;
  color: $grayscale__gray-3;
  @include fontStyle('bold');
}


////////////////////
//  Global Score  //
////////////////////

.regional-comparison-country__global-score {
  padding-left: 220px;
}

.global-score__label {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 35px;
  padding-right: 20px;
  @include centerThis('left');
  line-height: 35px;
  font-size: 10pt;
  text-align: right;
  color: $grayscale__gray-3;
  @include fontStyle('light');
}

.global-score__bar-wrapper {
  height: 35px;
  position: relative;
  overflow: hidden;
}

.global-score__bar {
  height: 8px;
  background-color: $grayscale__gray-2;
  @include centerThis();
  margin-right: 45px;
}

.global-score__bar:after {
  display: block;
  content: '';
  width: 8px;
  height: 12px;
  background-image: url('../img/ui/regional-comparison_global-score-indicator.png');
  background-position: center center;
  background-repeat: no-repeat;
  @include centerThis('right');
  transform: translate(0px, -2px);
}

.global-score__average-indicator {
  height: 8px;
  background-image: url('../img/ui/regional-comparison_global-score-average-indicator.png');
  background-position: right center;
  background-repeat: no-repeat;
  @include centerThis();
  bottom: -8px;
  margin-right: 45px;
}

.global-score__number-indicator {
  width: 45px;
  height: 20px;
  @include centerThis('right');
  right: -45px;
  line-height: 20px;
  font-size: 10pt;
  text-align: center;
  color: $grayscale__gray-3;
  @include fontStyle('bold');
}


////////////////////
//  Print styles  //
////////////////////

@media only print {
  .regional-comparison-data__item {
    border: 2px solid $grayscale__gray-1;
    @include roundBorders(0px);
    box-shadow: unset;
    page-break-inside: avoid;
  }

  .regional-comparison-country__label:after {
    display: none;
  }
}