/////////////////////
//  Layout styles  //
/////////////////////

.data__item--ctc-topic {
  width: 9.09%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 90px;
  position: relative;
}

.ctc-topic__top {
  height: 100%;
  padding-top: 40px;
  overflow: hidden;
}

.ctc-topic__bottom {
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
}


///////////////////////
//  Core Properties  //
///////////////////////

.ctc-topic__tooltip {
  width: 160%;
  padding: 15px 10px;
  position: absolute;
  left: -30%;
  bottom: 35%;
  z-index: 10;
  background-color: $grayscale__gray-4;
  @include card();
  text-align: center;
  transform: translate(0, -20px);
  opacity: 0;
  transition: opacity 0.8s, transform 0.7s;
}

.ctc-topic__tooltip-label {
  color: $grayscale__white;
  font-size: 9pt;
}

.ctc-topic:hover {
  .ctc-topic__tooltip {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.ctc-topic__bar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  //overflow: hidden;
}

.ctc-topic__bar {
  width: 101%;
  height: 100%;
  @include centerThis();
}

.ctc-topic__number-indicator {
  width: 100%;
  height: 40px;
  @include centerThis('top');
  top: -40px;
  line-height: 40px;
  font-size: 14pt;
  text-align: center;
  color: $grayscale__gray-4;
  @include fontStyle('semi-bold');
}

.ctc-topic__icon {
  width: 100%;
  height: 100%;
  position: relative;
}

.ctc-topic__icon:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  @include centerThis();
  z-index: 1;
  background-color: rgba($grayscale__white, 0.1);
}

.ctc-topic__icon-img {
  @include centerThis();
  z-index: 2;
  width: 72px;
  height: auto;
}

