/////////////////////
//  Layout styles  //
/////////////////////

.data__item--topic-rubrics-graph {
  height: auto;
  min-height: $topic-rubrics-data__height--md;
  border-bottom: 1px solid $grayscale__gray-1;
}

.topic-rubrics-graph {
  height: 100%;
  //padding-left: 400px;
  position: relative;
}

.topic-rubrics-graph__evaluation {
  width: 100%;
  padding-left: 400px;
  position: relative;
  z-index: 1;
}


///////////////////
//  Core Styles  //
///////////////////

.topic-rubrics-graph.is-even {
  background-color: $grayscale__gray-1;
}

.topic-rubrics-graph__description {
  width: 400px;
  height: 100%;
  z-index: 2;
}

.topic-rubrics-graph__name {
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 45px;
  @include centerThis();
  font-size: 11pt;
}

.topic-rubrics-graph__label {
  line-height: 15px;
  @include fontStyle('semi-bold');
  color: $grayscale__gray-4!important;
  text-decoration: none!important;
}

.topic-rubrics-graph__auxiliar-text {
  display: block;
  line-height: 15px;
  color: $grayscale__gray-3;
  @include fontStyle('light');
}


//////////////////
//  Graph Bars  //
//////////////////

.topic-rubrics-graph__bar-wrapper {
  width: 100%;
  height: $topic-rubrics-data__height--md;
  position: relative;
  overflow: hidden;
}

.topic-rubrics-graph__bar {
  height: $topic-rubrics-data__height--md;
  @include centerThis();
  margin-right: $topic-rubrics-data__height--md;
}

.topic-rubrics-graph__bar:after,
.topic-rubrics-graph__bar:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 1px solid $grayscale__gray-0;
  border-width: 15px 10px 15px 10px;
  border-left-color: transparent!important;
  position: absolute;
  right: -1px;
}

.topic-rubrics-graph__bar:after {
  border-bottom-color: transparent!important;
  top: 0;
}

.topic-rubrics-graph__bar:before {
  border-top-color: transparent!important;
  bottom: 0;
}

// Angle color change on even rows
.topic-rubrics-graph.is-even {
  .topic-rubrics-graph__bar:after,
  .topic-rubrics-graph__bar:before {
    border-color: $grayscale__gray-1;
  }
}

.topic-rubrics-graph__number-indicator {
  width: $topic-rubrics-data__height--md;
  height: 40px;
  @include centerThis('right');
  right: -$topic-rubrics-data__height--md;
  line-height: 40px;
  font-size: 10pt;
  text-align: center;
  color: $grayscale__gray-3;
  @include fontStyle('bold');
}

.topic-rubrics-graph__minimal-indicator {
  display: block;
  height: $topic-rubrics-data__height--md;
  width: 4px;
  @include centerThis('left');
}

//////////////////////////
//  Graph Partial Bars  //
//////////////////////////
.topic-rubrics-graph__partial-year {
  width: 45px;
  text-align: center;
  @include centerThis('left');
  left: -45px;
}

.topic-rubrics-graph__partial-year.is-odd {
  background-color: $grayscale__gray-1;
  background-color: rgba($grayscale__gray-1, .45);
}

.topic-rubrics-graph__partial-year.is-even {
  background-color: $grayscale__gray-0;
  background-color: rgba($grayscale__gray-0, .45);
}

.topic-rubrics-graph__partial-label {
  display: block;
  height: 20px;
  font-size: 8pt;
  line-height: 20px;
}
/*
The period number classes allow the existence of more than one evaluation period
The bar height and number should be adjusted for the number of periods present

Example class:
.topic-rubrics-graph__evaluation--periods-2
*/
.topic-rubrics-graph__evaluation--periods-2 .topic-rubrics-graph__partial {
  height: 30px;
  position: relative;

  .topic-rubrics-graph__bar-wrapper {
    height: 30px;
  }

  .topic-rubrics-graph__bar {
    height: 30px;
  }

  .topic-rubrics-graph__bar:after,
  .topic-rubrics-graph__bar:before {
    border-width: 15px 5px 15px 5px;
  }

  .topic-rubrics-graph__number-indicator {
    height: 30px;
    line-height: 30px;
  }
}

.topic-rubrics-graph__evaluation--periods-1 .topic-rubrics-graph__partial-year {
  display: none;
}

.topic-rubrics-graph__evaluation--periods-2 .topic-rubrics-graph__partial-year {
  height: 30px;
}

.topic-rubrics-graph__evaluation--periods-2 .topic-rubrics-graph__partial-label {
  height: 30px;
  line-height: 30px;
}
