/////////////////////
//  Layout styles  //
/////////////////////

.download-summary__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.download-summary {
  height: $download-summary__height--md;
  @include centerThis();
  margin: auto 10px;
}


///////////////////////
//  Core Properties  //
///////////////////////

.download-summary {
  background-color: $grayscale__white;
  overflow: hidden;
  @include roundBorders();
  @include addShadow('super-light');
}

.download-summary__icon {
  width: $download-summary__height--md;
  height: $download-summary__height--md;
  background-color: $ui__ucla-gold;
  float: left;
  position: relative;
}

.download-summary__icon-img {
  @include centerThis();
}

.download-summary__text-aside {
  height: $download-summary__height--md;
}

.download-summary__text-aside:after {
  display: block;
  width: $download-summary__height--md;
  height: $download-summary__height--md;
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/icons/icon_arrow-down--yellow.png');
  @include centerThis('right');
}

.download-summary__label {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 20px;
  @include centerThis('left');
  left: $download-summary__height--md + 15px;
  color: $ui__ucla-gold;
  font-size: 9pt;
  @include fontStyle('bold');
}
