/////////////////////
//  Layout styles  //
/////////////////////

.link-list__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.link-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


///////////////////////
//  Core Properties  //
///////////////////////

.link-list {
  text-align: right;
  line-height: 40px;
}

.link-list__item {
  display: inline-block;
  padding: 0 20px;
  background-color: $ui__ucla-gold;
  @include roundBorders(3px);
  @include addShadow('super-light');
}

.link-list__link {
  color: rgba($grayscale__white, 0.8);
  font-size: 10pt;
  transition: color 0.2s;
  text-decoration: none;
}

.link-list__link:hover {
  color: rgba($grayscale__white, 1);
}

.link-list__link:visited {
  color: rgba($grayscale__white, 0.9);
}