/////////////////////
//  Layout styles  //
/////////////////////

.footer-tag__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-tag {
  width: 100%;
  height: $footer-tag__height--md;
}


///////////////////////
//  Core Properties  //
///////////////////////

.footer-tag {
  text-align: center;
  color: $grayscale__white;
  @include centerThis();

  p {
    margin: 0;
    line-height: $footer-tag__height--md;
  }
}
