///////////////////
//  Core Styles  //
///////////////////

.form {}

.form--menu-inner-form {}

.form__heading {
  font-size: 14pt;
}

.form__input, .form__select, .form__textarea {
  border: 0px transparent;
  background: transparent;
}

.form__row {}

.form__label {}


//  Select2 Overrides //

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
  border: 0px transparent;
  background: transparent;
  height: $form-control__height--md;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: $form-control__height--md;
}

.select2-container .select2-selection .select2-selection__rendered:after {
  display: block;
  content: '';
  width: 20px;
  height: 30px;
  @include centerThis('right');
  background-image: url('../img/icons/drop-down--white.png');
  background-repeat: no-repeat;
  background-position: center 5px;
}

.select2-dropdown {
  // width: 350px !important;
  @include roundBorders(4px);
  // background-color: rgba($grayscale__white, 0.8);
  background-color: $grayscale__white;
}