/////////////////////
//  Layout styles  //
/////////////////////

.glossary__wrapper {
  width: 100%;
}

.glossary {
  width: 94%;
  margin: 0 auto;
}

.glossary__list {
  margin: 0;
  padding: 0;
}

.glossary__item {
  display: block;
}


///////////////////
//  Core Styles  //
///////////////////

.glossary__heading {
  margin: 30px 0;
  margin-bottom: 50px;
  padding: 30px 40px;
  background-color: $ui__ucla-gold;
  color: $grayscale__white;
  @include card();
  @include fontStyle('semi-bold');
}

.glossary__list {
  list-style-type: none;
}

.glossary__item {  
  margin: 30px 0;
  padding: 20px 40px;
  border-left: 30px solid $grayscale__gray-2;
  background-color: $grayscale__white;
  @include card();
}

.glossary__item-heading {
  margin: 0;
  color: $grayscale__gray-4;
  @include fontStyle('semi-bold');
  font-size: 22pt;
}

.glossary__item-content {
  p {
    font-size: 11pt;
    line-height: 14pt;
  }
}
