/////////////////////
//  Layout styles  //
/////////////////////

.home-banner__wrapper {
  width: 100%;
}

.home-banner {
  padding: 50px 22%;
}


///////////////////
//  Core Styles  //
///////////////////

.home-banner {
  text-align: center;
}

.home-banner__text {
  color: $ui__orange-dark;
  @include fontStyle('light');
  // text-shadow: 0px 0px 14px $ui__orange-dark;

  strong {
    @include fontStyle('semi-bold')
  }
}

.home-banner__action {
  padding: 15px 0;
}

.home-banner__action-button {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: $ui__ucla-gold;
  text-decoration: none;
  @include roundBorders();
  @include addShadow('super-light');
}

.home-banner__action-label {
  color: $grayscale__white;
  @include fontStyle('bold');
}
