/////////////////////
//  Layout styles  //
/////////////////////

.indicators__wrapper {
  width: 100%;
  position: relative;
}

.indicators {}

.indicators__list {
  line-height: $indicators__height--md;
}

.indicators__item {
  display: inline-block;
}


///////////////////
//  Core Styles  //
///////////////////

.indicators {
  margin: 20px auto;
  font-size: 10pt;
}

.indicators__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.indicators__item {
  margin-right: 20px;
  padding-left: $indicators__height--md;
  position: relative;
  text-align: right;
}

.indicators__indicator {
  width: $indicators__height--md - 10px;
  height: $indicators__height--md - 10px;
  @include roundBorders(($indicators__height--md - 10px)/2);
  @include centerThis('left');
}

.indicators__indicator--regional-average {
  width: 2px;
  margin: auto 14px;
  border-left: 2px dotted $grayscale__gray-3;
}

.indicators--floating {
  width: 100%;
  max-width: 1024px;
  padding: 10px;
  @include centerThis('bottom');
  position: fixed;
  z-index: 10;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: $grayscale__white;
  @include addShadow();
  opacity: 0;
  display: none;
  transition: opacity .4s;
}

.indicators--evaluation {
  margin: 0;
  
  .indicators__list {
    height: $indicators__height--md;
  }
}

.indicators__label-composed {
  width: 100px;
  height: 40px;
  position: relative;
}

.country-comparison {
  .indicators__label-composed {
    width: 130px;
  }
}

.topic-rubrics {
  .indicators__label-composed {
    width: 110px;
    font-size: 8pt;
  }

  .indicators__label--second-line {
    font-size: 9pt;
  }
}

.indicators__label--first-line {
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.indicators__label--second-line {
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.indicators--floating__button {
  display: block;
  padding: 10px;
  float: right;
  clear: both;
  background-color: $ui__ucla-gold;
  color: $grayscale__white;
  text-decoration: none;
  @include roundBorders(4px);
  @include addShadow('super-light');
}

.indicators--floating.is-rendered {
  display: block;
  pointer-events: none;
}

.indicators--floating.is-visible {
  opacity: 1;
  pointer-events: all;
}


////////////////////
//  Query styles  //
////////////////////

@include respondTo('tablet') {
  .indicators__item {
    margin-right: 5px;
  }

  .indicators__label-composed {
    width: 80px;
    font-size: 8pt;
  }

  .country-comparison {
    .indicators__label-composed {
      width: 110px;
    }
  }

  .topic-rubrics {
    .indicators__item {
      margin-right: 0px;
      padding-left: 38px;
    }

    .indicators__label-composed {
      width: 90px;
      font-size: 7pt;
    }
  }
}