/////////////////////
//  Layout styles  //
/////////////////////

.info-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-left: 50px;
}

.info-page__menu {
  height: 70px;
  position: relative;
  z-index: 1;
}

.info-page__menu-item {
  height: 70px;
  line-height: 70px;
  margin-left: 50px;
}

.info-page__blocks-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  padding: 50px;
  padding-top: 100px;
  padding-right: 0;
}

.info-page__blocks {
  width: 300%;
  height: 100%;
}

.info-page__block-wrapper {
  width: 33.33%;
  height: 100%;
  float: left;
  overflow: hidden;
  padding-right: 100px;
}

.info-page__block {
  width: 100%;
  height: 100%;  
  padding-right: 130px;
  overflow: auto;
  box-sizing: content-box;
}

.info-page__heading {
  width: 100%;
  height: $info-page__heading-height--md;
  padding-left: $info-page__heading-height--md;
  position: relative;
}

.info-page__heading-picture {
  height: $info-page__heading-height--md;
  width: $info-page__heading-height--md;
  overflow: hidden;
  @include centerThis('left');
}

.info-page__title {
  display: block;
  height: 35px;
  line-height: 35px;
  @include centerThis('left');
  left: $info-page__heading-height--md + 30px;
}


///////////////////
//  Core Styles  //
///////////////////

.info-page__menu-link {
  font-size: 18pt;
}

.info-page__menu-label {
  color: $grayscale__gray-4;
  @include fontStyle('semi-bold');
}

.info-page__menu-item:after {
  display: block;
  content: '';
  border-bottom: 3px solid $ui__ucla-gold;
  position: relative;
  bottom: 15px;
  opacity: 0.0;
  transform: translate(0, 30px);
  transition: opacity 0.2s, transform 0.3s;
}

.info-page__menu-item.is-selected:after {
  opacity: 1;
  transform: translate(0, 0);
}

.info-page__blocks {
  transition: transform 0.4s;
}

.info-page__blocks.show-0 {
  transform: translate(0%);
}

.info-page__blocks.show-1 {
  transform: translate(-33.33%);
}

.info-page__blocks.show-2 {
  transform: translate(-66.66%);
}

.info-page__heading {
  margin: 30px 0;
}

.info-page__heading-picture {
  @include roundBorders($info-page__heading-height--md/2);
  border: 10px solid $ui__turtle-green;
  perspective: 1px;
}

.info-page__heading-picture-img {
  width: 100%;
  @include centerThis();
}

.info-page__content .img-responsive {
  margin: 1em 0;
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.info-page__content .img-small-centered {
  width: 50%;
  margin: 1em 25%;
  border: none;
  height: auto;
}


////////////////////////
//  Query properties  //
////////////////////////

@include respondTo('tablet') {
  .info-page__menu-link {
    font-size: 14pt;
  }

  .info-page {
    padding-left: 0;
  }

  .info-page__content .img-small-centered {
    width: 80%;
    margin: 1em 10%;
  }
}
