//////////////////////////////////////
//  Instruction video modal styles  //
//////////////////////////////////////

.instruction-video__header {
  background-color: $ui__moddy-cerulean;
  padding: 20px 40px;
}

.instruction-video__title {
  color: $grayscale__white;
  margin: 0;
}

.instruction-video__content {
  width: 100%;
  height: 100%;
  padding-top: 72px;
  position: absolute;
  top: 0;
}

.instruction-video__video {
  width: 100%;
  height: 100%;
}

@include respondTo('desktop') {
  .modal--instruction-video {
    width: 80%;
  }
}

@include respondTo('tablet') {
  .modal--instruction-video {
    width: 90%;
    height: 80%;
  }
}