/////////////////////
//  Layout styles  //
/////////////////////

.logo__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.logo {
  // width: 125px;
  // height: 63px;
  width: 100%;
  height: 100%;
  z-index: 1;
  // @include centerThis();
}

.logo__img {
  width: 100%;
  height: auto;
  border: none;
  @include centerThis();
}

.logo__text-heading {
  display: none;
}


///////////////////////
//  Core Properties  //
///////////////////////

.logo {
  color: $grayscale__white;
}


////////////////////////
//  Query Properties  //
////////////////////////

// @include respondTo('tablet') {
//   .logo__img {
//     width: 80px;
//   }
// }
