/////////////////////
//  Layout styles  //
/////////////////////

.menu {}

.menu__list {
  margin: 0;
  padding: 0;
}

.menu__item {}

.menu--horizontal {
  .menu__item {
    display: inline-block;
  }
}

.menu--vertical {
  .menu__item {
    display: block;
  }
}

.menu--custom {}


///////////////////
//  Core Styles  //
///////////////////

.menu__list {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  display: block;
}

.menu__switch {
  position: relative;
  bottom: -10px;
  margin: 0 8px;
  // display: inline-block;
}
