/////////////////////
//  Layout styles  //
/////////////////////

.regional-comparison-toolbar__wrapper {
  width: 100%;
  height: $regional-comparison-toolbar__height--md + 20px;
  position: relative;
}

.regional-comparison-toolbar {
  width: 96%;
  height: $regional-comparison-toolbar__height--md;
  @include centerThis();
}


///////////////////
//  Core Styles  //
///////////////////

.regional-comparison-toolbar {
  background-color: $ui__ucla-gold;
  @include roundBorders();
  @include addShadow('drop');
}

.regional-comparison-toolbar__form {
  display: table;
  width: 100%;
  margin: 10px auto;
  margin-top: 5px;
  padding: 0 20px;
  box-sizing: border-box;
}

.regional-comparison-toolbar__list {
  display: table-row;
}

.regional-comparison-toolbar__item {
  display: table-cell;
  line-height: ($regional-comparison-toolbar__height--md - 20px)/2;
  border-right: 2px solid $grayscale__white;
  vertical-align: middle;
  position: relative;
}

.regional-comparison-toolbar__row {
  height: 100%;
  padding: 0 12px;
  background-color: rgba($grayscale__white, 0.2);
  font-size: 0.8em;
  color: $grayscale__white;

  // Select2 Overrides
  .select2-container {
    width: 175px!important;
    padding-left: 4px;
    .selection {
      border: 0!important;
      outline: none!important;
    }
  }

  .select2-container .select2-selection .select2-selection__rendered {
    color: $grayscale__white;
    @include fontStyle('light');
    // :: Chambonada-Warning ::
    //  Some of the styles applied by Select2 default classes break vertical aligment.
    //  The folow pair of lines fixes this brutally, but it's not the proper solution.
    position: relative;
    top: -2px;
  }

  .select2-container .select2-selection .select2-selection__arrow {
    width: 20px;
    height: 20px;
    display: none;

    b {
      border-color: $grayscale__white transparent transparent transparent;
    }
  }
}

.regional-comparison-toolbar__label {
  @include fontStyle('semi-bold');
}

.regional-comparison-toolbar__heading {
  width: auto;
  height: ($regional-comparison-toolbar__height--md - 20px)/2;
  margin: 0;
  margin-top: 3px;
  padding: 0 20px;
  color: $grayscale__white;
  font-size: 18pt;
  line-height: ($regional-comparison-toolbar__height--md - 20px)/2;
}

.regional-comparison-toolbar__link {
  padding: 0 6px;
}

.regional-comparison-toolbar__icon {
  display: block;
  width: ($regional-comparison-toolbar__height--md - 20px)/2;
  height: ($regional-comparison-toolbar__height--md - 20px)/2;
  text-indent: ($regional-comparison-toolbar__height--md - 20px)/2;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

// .regional-comparison-toolbar__item--submit {
//   width: ($regional-comparison-toolbar__height--md - 20px)/2;

//   .regional-comparison-toolbar__icon {
//     background-image: url('../img/icons/icon_arrow-right.png');
//   }
// }

.regional-comparison-toolbar__item--revert {
  width: ($regional-comparison-toolbar__height--md - 20px)/2;

  .regional-comparison-toolbar__icon {
    background-image: url('../img/icons/icon_revert.png');
  }
}

.regional-comparison-toolbar__item--help {
  width: ($regional-comparison-toolbar__height--md - 20px)/2;

  .regional-comparison-toolbar__icon {
    background-image: url('../img/icons/icon_help.png');
  }
}

.regional-comparison-toolbar__item--print {
  width: ($regional-comparison-toolbar__height--md - 20px)/2;

  .regional-comparison-toolbar__icon {
    background-image: url('../img/icons/print--white.png');
  }
}

.regional-comparison-toolbar__link-tooltip {
  width: 300px;
  padding: 15px 10px;
  position: absolute;
  left: -200%;
  top: 110%;
  z-index: 10;
  background-color: $grayscale__gray-4;
  @include card();
  text-align: center;
  line-height: 10pt;
  transform: translate(0, -20px);
  opacity: 0;
  transition: opacity 0.8s, transform 0.7s;
}

.regional-comparison-toolbar__link-tooltip-label {
  color: $grayscale__white;
  font-size: 9pt;
}

.regional-comparison-toolbar__item:hover {
  .regional-comparison-toolbar__link-tooltip {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.regional-comparison-toolbar__item--sorting.is-disabled,
.regional-comparison-toolbar__link.is-disabled {
  opacity: 0.4;
  pointer-events: none;
}


////////////////////////
//  Query Properties  //
////////////////////////

@include respondTo('tablet') {
  .regional-comparison-toolbar__wrapper {
    height: $regional-comparison-toolbar__height--sm + 20px;
  }

  .regional-comparison-toolbar {
    height: $regional-comparison-toolbar__height--sm + 20px;
  }

  .regional-comparison-toolbar__item {
    height: ($regional-comparison-toolbar__height--sm / 2) + 10px;
    line-height: (($regional-comparison-toolbar__height--sm / 2) + 10px)/2;
  }

  .regional-comparison-toolbar__heading {
    margin-top: 5px;
    font-size: 16pt;
  }

  .regional-comparison-toolbar__form {
    margin: 10px auto;
  }

  .regional-comparison-toolbar__row {

    .regional-comparison-toolbar__label {
      display: block;
    }

    // Select2 Overrides
    .select2-container {
      margin-left: 0;
      width: 100%!important;

      .select2-selection__rendered {
        padding-right: 25px;
      }
    }
  }
}
