/////////////////////
//  Layout styles  //
/////////////////////

.modal--country-menu {
  overflow: hidden;
}

.country-menu {
  width: 100%;
  width: calc(100% + 40px);
  height: 60%;
  min-height: 250px;
  @include centerThis();
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -20px;
}

///////////////////
//  Core Styles  //
///////////////////

.country-menu {
  text-align: center;
}

.country-menu__indicator {
  height: 60px;
  width: 100%;
  text-align: center;
  @include centerThis('top');
  top: 30px;
}

.country-menu__indicator-label {
  line-height: 60px;
  font-size: 16pt;
  letter-spacing: 0.06em;
  color: $grayscale__white;
  @include fontStyle('light');
}

.country-menu__item {
  width: 100%;
  height: 50px;
  margin: 0;
}

.country-menu__link {
  height: 50px;
  line-height: 50px;
  display: block;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.country-menu__link:before {
  display: block;
  content: '';
  height: 20px;
  width: 28%;
  background-color: $grayscale__white;
  @include centerThis('left');
  //left: -180px;
  transform: translate(-100%);
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
}

.country-menu__link:after {
  display: block;
  content: '';
  height: 20px;
  width: 28%;
  background-color: $grayscale__white;
  @include centerThis('right');
  //right: -180px;
  transform: translate(100%);
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
}

.country-menu__link:hover:before,
.country-menu__link:hover:after {
  opacity: 1;
  transform: translate(0%);
}

.country-menu__label {
  height: 50px;
  line-height: 50px;
  font-size: 20pt;
  @include fontStyle('semi-bold');
  letter-spacing: 0.05em;
  color: $grayscale__white;
}
