/////////////////////
//  Layout styles  //
/////////////////////

.main-menu__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.main-menu {
  width: 100%;
  height: $main-menu__height--md;
  @include centerThis();
}


///////////////////////
//  Core Properties  //
///////////////////////

.main-menu__list {
  height: $main-menu__height--md;
  text-align: center;
}

.main-menu__item {
  height: $main-menu__height--md;
  line-height: $main-menu__height--md;
  margin: 0;
  padding: 0 18px;
  border-right: 1px solid $grayscale__white;
}

.main-menu__link {
  height: $main-menu__height--md;
  color: $grayscale__white;
}

.main-menu__link:hover, .main-menu__visited:hover {
  color: $grayscale__white;
}

.main-menu__label {
  line-height: $main-menu__height--md;
  @include fontStyle("semi-bold");
  font-size: 10pt;
}

.main-menu__item:last-child {
  border-right: 0px;
}


////////////////////////
//  Query Properties  //
////////////////////////

@include respondTo('tablet') {
  .main-menu__item {
    padding: 0 8px;
  }

  .main-menu__label {
    font-size: 9pt;
  }
}

