/////////////////////
//  Layout styles  //
/////////////////////

.lang-bar__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.lang-bar {
  height: $lang-bar__height--md;
  @include centerThis();
  margin: auto 5px;
}


///////////////////////
//  Core Properties  //
///////////////////////

.lang-bar {
  background-color: $grayscale__white;
  overflow: hidden;
  @include roundBorders();
  @include addShadow('super-light');
}

.lang-bar__list {
  height: $lang-bar__height--md/2;
}

.lang-bar__item {
  height: $lang-bar__height--md/2;
  text-align: center;
}

.lang-bar__item--is-active {
  background-color: $ui__pitch-blue;

  .lang-bar__label {
    color: $grayscale__white;
  }
}

.lang-bar__label {
  color: $ui__pitch-blue;
  line-height: $lang-bar__height--md/2;
  font-size: 9pt;
  @include fontStyle('bold');
}
