/////////////////////
//  Layout styles  //
/////////////////////

.topic-period-menu {
  width: 100%;
  height: 60px;
}


///////////////////
//  Core Styles  //
///////////////////

.topic-period-menu {}

.topic-period-menu__list {
  height: 60px;
  line-height: 60px;
  position: relative;
}

.topic-period-menu__item {
  height: 100%;
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
}

.topic-period-menu__item:after {
  display: block;
  content: '';
  @include centerThis('bottom');
  width: 80%;
  height: 10px;
  background-color: rgba($grayscale__black, 0.3);
  transform: translate(0, 20px);
  transition: transform 0.3s;
}

.topic-period-menu__item.is-selected:after {
  transform: translate(0, 0);
}

.topic-period-menu__link {
  height: 60px;
  box-sizing: border-box;
  padding: 10px 0;
}

.topic-period-menu__label {
  display: block;
  height: 30px;
  padding: 0 20px;
  color: $grayscale__white;
  line-height: 30px;
  font-size: 10pt;
  border-left: 2px solid $grayscale__white;
}

.topic-period-menu__item:first-child {
  .topic-period-menu__label {
    border-left: 0;
  }
}


////////////////////////
//  Query Properties  //
////////////////////////

@include respondTo('tablet') {
  .topic-period-menu__label {
    padding: 0 15px;
    font-size: 8pt;
  }
}
