/////////////////////
//  Layout styles  //
/////////////////////

.country-comparison-menu {
  line-height: 40px;
  // margin: 10px 0;
}

.country-comparison-menu__item {
  padding: 0 5px;
}


///////////////////
//  Core Styles  //
///////////////////

.country-comparison-menu {
  text-align: center;
}

.country-comparison-menu__item {
  border-left: 2px solid $grayscale__white;
  color: $grayscale__white;
}

.country-comparison-menu__item:first-child {
  border-left: 0;
}

.country-comparison-menu__row {
  height: 100%;
  padding: 0 6px;
  font-size: 10pt;
  color: $grayscale__white;

  // Select2 Overrides
  .select2-container {
    // width: 180px!important;
    margin-left: 4px;

    .selection {
      border: 0!important;
      outline: none!important;
    }
  }

  .select2-container .select2-selection .select2-selection__rendered {
    color: $grayscale__white;
    @include fontStyle('light');
    // :: Chambonada-Warning ::
    //  Some of the styles applied by Select2 default classes break vertical aligment.
    //  The folow pair of lines fixes this brutally, but it's not the proper solution.
    position: relative;
    top: -2px;
    padding-right: 30px;
  }

  .select2-container .select2-selection .select2-selection__arrow {
    width: 20px;
    height: 20px;
    display: none;

    b {
      border-color: $grayscale__white transparent transparent transparent;
    }
  }
}

.country-comparison-menu__label {
  display: inline-block;
}

.country-comparsion-menu__select--topic {
  width: 300px;
}

.country-comparsion-menu__select--countries {
  width: 200px;
}

// Hidding selected option; always 'Change topic' or 'Select country string'
.is-country_comparison {
  .select2-results__option[aria-selected*= 'true'] {
    display: none;
  }
}


///////////////////
// Query Classes //
///////////////////

// @include respondTo('tablet') {
//   .country-comparison-menu__label {
//     display: inline-block;
//     width: 70px;
//     line-height: normal;
//     text-align: left;
//   }
// }
