/////////////////////
//  Layout styles  //
/////////////////////

.modal--print-config {
  width: 80%;
  max-width: 800px;
  height: 90%;
}

.print-config {
  height: 100%;
  position: relative;
}

.print-config__header {
  padding: 0 30px;
}

.print-config__header-title {
  margin: 0;
  line-height: 110px;
  font-size: 20pt;
}

.print-config__content {
  height: 100%;
  padding-top: 90px;
  padding-bottom: 80px;
  position: absolute;
  top: 0;
}

.print-config-form {
  height: 100%;
  overflow: auto;
}

.print-config-form__column {
  width: 50%;
  float: left;
  padding: 0 30px;
}

.print-config-form__row {
  position: relative;
  margin: 5px 0px;
}


///////////////////
//  Core styles  //
///////////////////

.print-config-form__column-description p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 10pt;
  line-height: 12pt;
}

.print-config-form__field + .print-config-form__column-description {
  margin-top: 30px;
}

.print-config-form__subject-control-checkbox,
.print-config-form__level-control-radio,
.print-config-form__recommendations-control-checkbox {
  @include centerThis('left');
}

.print-config-form__subject-control-label,
.print-config-form__level-control-label,
.print-config-form__recommendations-control-label {
  padding-left: 20px;
  display: inline-block;
  color: $grayscale__gray-3;
}

.print-config__submit {
  height: 80px;
  position: relative;
}

.print-config__submit-button {
  display: block;
  height: 40px;
  width: 160px;
  background-color: $ui__turtle-green;
  color: $grayscale__white;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  @include addShadow('drop');
  @include roundBorders(3px);
  @include centerThis();
}

.print-config__error {
  max-width: 400px;
  padding: 10px;
  background-color: rgba($grayscale__black, 0.9);
  color: $grayscale__white;
  text-align: center;
  @include addShadow('drop');
  @include roundBorders(6px);
  @include centerThis('bottom');
  bottom: 80px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.print-config__error p {
  font-size: 9pt;
  margin: 0;
}

.print-config__error.is-shown {
  opacity: 1;
}


////////////////////
//  Query styles  //
////////////////////

@include respondTo('tablet') {
  .modal--print-config {
    width: 90%;
  }

  .print-config__header-title {
    font-size: 18pt;
  }
}