/////////////////////
//  Layout styles  //
/////////////////////

.regional-comparison-help {
  width: 100%;
  height: 100%;
  padding: 0px 50px;
  padding-top: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.regional-comparison-help h2 {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
  position: relative;
  font-size: 24pt;
}

.regional-comparison-help h2:after {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  @include centerThis('left');
  @include roundBorders(20px);
  background-color: $ui__turtle-green;
  background-image: url("../img/icons/icon_help.png");;
  background-repeat: no-repeat;
  background-position: center center;
}