/////////////////////
//  Layout styles  //
/////////////////////

.modal__close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

///////////////////
//  Core Styles  //
///////////////////

.modal__wrapper {
  background-color: rgba($grayscale__black, 0.4);
}

.modal {
  background-color: $grayscale__white;
  border: 20px solid $grayscale__gray-1;
  background-image: url('../img/ui/subtle-dots_bg.png');

  .img-responsive {
    max-width: 80%;
    margin: 10px 10%;
  }
}

.modal__close {}

.modal__close-link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.modal__close-label {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 100%;
  background-image: url('../img/icons/close--yellow.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.modal--country-menu {
  width: 90%;
  height: 90%;
  background-color: $ui__ucla-gold;
  background-image: url('../img/ui/country-menu_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  border-color: $grayscale__white;

  .modal__close-label {
    background-image: url('../img/icons/close--white.png');
  }
}

.modal--info-page {
  width: 90%;
  height: 90%;
}

.modal--regional-comparison-help {
  width: 80%;
  height: 70%;

  .img-responsive {
    max-width: 90%;
    margin: 10px 5%;
  }
}