/////////////////////
//  Layout styles  //
/////////////////////
.modal--recommendations {
  width: 90%;
  height: 90%;
}

.recommendations {
  width: 100%;
  height: 100%;
  padding: 100px;
  overflow: hidden;
  overflow-y: auto;
}

.subject-recommendations {
  display: none;
}

.subject-recommendations__headding {
  height: 100px;
  position: relative;
}

.subject-recommendations__headding-icon {
  width: 100px;
  height: 100px;
  @include centerThis('left');
  @include roundBorders(50px);
}

.subject-recommendations__headding-icon-img {
  width: 72px;
  height: auto;
  @include centerThis();
}

.subject-recommendations__headding-title {
  height: 100px;
  margin: 0;
  padding-left: 120px;
  font-size: 26pt;
  line-height: normal;
  display: table-cell;
  vertical-align: middle;
}

.subject-recommendations__contents {
  margin-top: 50px;
}

.subject-recommendations__contents-title {
  font-size: 18pt;
  margin: 0;
  margin-bottom: 20px;
  color: $grayscale__gray-4;
}

.recommendation {
  margin-bottom: 2em;
}

.recommendation__text,
.recommendation__text p {
  font-size: 14pt;
}

.recommendation__text p {
  display: inline;
}
