/////////////////////
//  Layout styles  //
/////////////////////

.regional-comparison__wrapper {
  width: 100%;
}

.regional-comparison {
  width: 100%;
}


////////////////////
//  Print styles  //
////////////////////

@media only print {
  // Hack: Top container, Home Banner and Sponsors are not child of regional comparison, but is required them
  // to be hiden; a body control class to set this property conditially could be good in case
  // we need to print home banner in a future case.
  .top-container,
  .home-banner__wrapper,
  .sponsors__wrapper {
    display: none;
  }
  
  .regional-comparison-toolbar__wrapper {
    display: none;
  }
}