/////////////////////
//  Layout styles  //
/////////////////////

.regional-comparison-data__wrapper {
  width: 100%;
}

.regional-comparison-data {
  width: 94%;
  margin: 0 auto;
}


///////////////////
//  Core Styles  //
///////////////////

.regional-comparison-data__header-print {}

.regional-comparison-data__header-print-logo {}

.regional-comparison-data__header-print-logo-img {
  width: 200px;
  height: auto;
}

.regional-comparison-data__results {}

.regional-comparison-data__item {
  margin: 20px 0;
}
