///////////////////
//  Core Styles  //
///////////////////

.screen-size-anounce__wrapper {
  width: 100%;
  background: $ui__ucla-gold;
  display: none;
}

.screen-size-anounce {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  padding-left: 60px;
  position: relative;

  p {
    margin: 0;
    line-height: 1.6em;
    font-size: smaller;
  }
}

.screen-size-anounce__icon {
  @include centerThis('left');
  left: 15px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
}

@include respondTo('phone') {
  .screen-size-anounce__wrapper {
    display: block;
  }
}