/////////////////////
//  Layout styles  //
/////////////////////

body.for-print {
  .secrat-evaluation {
    padding: 0;
  }

  .secrat-age-group {
    margin: 0;
    padding: 20px;
  }

  .secrat-age-group__intro h6 {
    margin: 0;
  }

  .secrat-age-group__intro p {
    padding: 0
  }

  canvas {
    display: none;
  }

  canvas.chartjs-render-monitor {
    display: block;
  }

  .secrat-evaluation--header {
    padding: 20px;
  }
  
  .topic-rubrics__heading--secrat-print {
    height: 60px;
  }
  
  .country-summary-data__topic-total--secrat-print {
    height: 60px;
  }

  .topic-period-data-card__wrapper.topic-period-data-card__wrapper--secrat {
    with: 100%;
    margin: 0;
  }

  .topic-rubrics-secrat__questions--print {
    display: none;
  }

  .secrat-chart {
    padding: 0;
  }

  .secrat-chart__chart {
    max-width: 600px;
    margin: 0 auto;
  }
}

body.for-print.level-questions {
  .topic-rubrics-secrat__questions--print {
    display: block;
  }
}