/////////////////////
//  Layout styles  //
/////////////////////

.secrat-evaluation {
  background-color: $grayscale__white;
  padding: 30px 80px;
}

.secrat-evaluation--header {
  padding: 0 30px;
}

.secrat-evaluation__top-question {
  margin: 0;
}

.secrat-evaluation--questions {
  padding: 10px 0;
}

.secrat-evaluation__intro-text p {
  font-size: 12pt;
  color: $grayscale__gray-4;
}

.secrat-age-group {
  margin-top: 20px;
}

.secrat-age-group__details {
  height: 80px;
  position: relative;
}

.secrat-age-group__details-link {
  display: block;
  padding: 0 20px;
  height: 40px;
  background-color: $ui__low-blue;
  color: $grayscale__white;
  text-decoration: none;
  font-size: 10pt;
  line-height: 40px;
  @include centerThis('left');
  left: 20px;
  @include card();
}

.secrat-age-group__intro {
  margin: 0;
  font-size: 10pt;
  color: $grayscale__gray-4;
}

.secrat-age-group__intro h6 {
  font-size: 12pt;
  margin-bottom: 0;
}

.secrat-age-group__intro p {
  font-size: 10pt;
  padding-left: 20px;
}

.secrat-age-group__score {
  padding-left: 20px;
  font-size: 12pt;
  font-weight: bold;
  color: $grayscale__gray-4;
}

.secrat-chart {
  margin: 20px 0;
}

// .secrat-chart__header {
//   font-size: 10pt;
//   text-decoration: underline;
//   color: $grayscale__gray-4;
// }

.secrat-chart__explanation p {
  font-size: 10pt;
  color: $grayscale__gray-3;
}

.secrat-chart {
  padding-left: 20px;
}

.secrat-chart__chart {
  padding: 10px 0 20px 0;
}


/////////////////////////
//  SECRAT data cards  //
/////////////////////////

.topic-period-data-card__wrapper--secrat {}

.topic-period-data-card__heading--secrat {
  padding-left: 40px!important;
}