/////////////////////
// Core Properties //
/////////////////////

.source-table__wrapper {
  width: 90%;
  margin: 15px auto;
  height: auto;
  overflow: hidden;
  min-height: 30px;
  transition: height 0.4s;
  position: relative;
  padding-right: 40px;
}

.source-table__switch {
  display: block;
  width: 30px;
  height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.source-table__switch:before {
  display: block;
  width: 90%;
  height: 90%;
  content: '';
  background-image: url('../img/icons/minus--gray.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  @include centerThis();
  transition: transform 0.3s;
}

.source-table__switch:after {
  display: block;
  width: 90%;
  height: 90%;
  content: '';
  background-image: url('../img/icons/plus--gray.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  @include centerThis();
  transition: transform 0.3s;
}

.source-table__wrapper.is-collapsed {
  max-height: 30px;

  .source-table__switch:before {
    transform: translate(0, -100%);
  }

  .source-table__switch:after {
    transform: translate(0, 0);
  }
}

.source-table__wrapper.is-expanded {
  max-height: 100000px;

  .source-table__switch:before {
    transform: translate(0, 0);
  }

  .source-table__switch:after {
    transform: translate(0, -100%);
  }
}

.source-table {
  font-size: 10pt;
  border-collapse: collapse;
  width: 100%;
}

.source-table__header {}

.source-table__body {}

.source-table__row {
  line-height: 14pt;
}

.source-table__cell {
  padding: 5px 15px;
  border-bottom: 1px solid $grayscale__gray-1;
  vertical-align: top;
}

.source-table__cell--header {
  color: $grayscale__gray-2;
  width: 50%;
}

.source-table__cell--document {
  min-width: 270px;
}

.source-table__link {
  color: $grayscale__gray-3;
}

.source-table__cell p {
  font-size: 9pt!important;
}