/////////////////////
//  Layout styles  //
/////////////////////

.sponsors__wrapper {
  width: 100%;
}

.sponsors {}


///////////////////
//  Core Styles  //
///////////////////

.sponsors {
  text-align: center;
  padding: 20px 0;
}

.sponsors__picture {
  width: 100%;
  height: auto;
}

.sponsors__img {
  display: block;
  margin: 0 auto;
  background-color: gray;
  width: 100%;
  height: auto;
}
