/////////////////////
//  Switch Styles  //
/////////////////////

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  opacity: 1;
  transition: opacity 0.3s;
}

.switch__checkbox {
  display: none;
}

.switch__slider {
  cursor: pointer;
  @include centerThis();
  background-color: rgba($grayscale__black, 0.2);
  transition: transform .4s, background-color .4s;
  border-radius: 15px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: $grayscale__white;
  border-radius: 50%;
  transition: transform .4s, background-color .4s;
}

.switch__checkbox:checked + .switch__slider {
  background-color: $eval-color__green-500;
}

//.switch__checkbox:focus + .switch__slider {
//  box-shadow: 0 0 1px #2196F3;
//}

.switch__checkbox:checked + .switch__slider:before {
  transform: translate(20px);
}

.switch.is-disabled {
  opacity: 0.4;
}
