/////////////////////
//  Layout styles  //
/////////////////////

.topic-period__wrapper {
  width: 100%;
  margin: 30px 0;
}

.topic-period {
  width: 100%;
}

.topic-period__heading {
  width: 94%;
  height: 120px;
  margin: 0 auto;
}

.topic-period__title-bar {
  height: 60px;
}


///////////////////////
//  Core Properties  //
///////////////////////

.topic-period__heading {
  @include card();
}

.topic-period__title-bar {
  border-bottom: 1px solid rgba($grayscale__white, 0.2);
}

.topic-period__title-bar-item {
  float: left;
  height: 100%;
  padding: 10px 0;
  line-height: 60px;
  position: relative;
}

.topic-period__title-bar-label {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  color: $grayscale__white;
  font-size: 14pt;
  @include fontStyle('semi-bold');
  border-left: 2px solid $grayscale__white;
}

.topic-period__title-bar-item:first-child {
  .topic-period__title-bar-label {
    border-left: 0;
  }
}

.topic-period__title-bar-label--title {
  font-size: 20pt;
}

.topic-period__menu-bar {
  background-color: rgba($grayscale__black, 0.2);
}

////////////////////////
//  Block Properties  //
////////////////////////

.topic-period-blocks__wrapper {
  width: 100%;
  //height: 800px;
  height: auto;
  overflow: hidden;
}

.topic-period-blocks {
  width: 500%;
  //height: 100%;
  transition: transform 0.6s;
}

.topic-period-blocks__block {
  width: 20%;
  //height: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.topic-period-blocks.show-0 {
  transform: translate(0%);
}

.topic-period-blocks.show-1 {
  transform: translate(-20%);
}

.topic-period-blocks.show-2 {
  transform: translate(-40%);
}

.topic-period-blocks.show-3 {
  transform: translate(-60%);
}

.topic-period-blocks.show-4 {
  transform: translate(-80%);
}


////////////////////
//  Query styles  //
////////////////////
@include respondTo('tablet') {
  .topic-period__title-bar-label {
    font-size: 11pt;
  }

  .topic-period__title-bar-label--title {
    font-size: 15pt;
  }
}