///////////////////
//  Core styles  //
///////////////////

body {
  background-image: url('../img/ui/subtle-dots_bg.png');
}

.top-background__wrapper {
  width: 100%;
  height: $top-background__height--sm;
}

.top-background {
  width: 100%;
  height: 100%;
}


.is-home {
  .top-background__wrapper {
    height: $top-background__height--md;
  }
}

.is-glossary {} 


///////////////////////
//  Core Properties  //
///////////////////////

.top-background {
  // background-color: $ui__turtle-green;
  background-repeat: repeat-x;
  background-position: center top;
  background-image: url('../img/ui/short_gradient.png?v=#{$version}');
}

.is-home {
  .top-background {
    background-image: url('../img/ui/long_gradient.png?v=#{$version}');
  }
}

.is-glossary {}
