/////////////////////
//  Layout styles  //
/////////////////////

.topic-period-data-card__wrapper {
  width: 94%;
  margin: 30px auto;
}

.topic-period-data-card {
  height: auto;
  min-height: 60px;
}

.topic-period-data-card__heading {
  height: 60px;
  padding: 0 60px;
  padding-left: 60px;
  position: relative;
}

.topic-period-data-card--evaluation_details .topic-period-data-card__heading {
  padding-left: 100px;
}

.topic-period-data-card__heading-circle-graph {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.topic-period-data-card__heading-circle-graph__circle-graph {
  width: 60px;
  height: 60px;
  z-index: 1;
}

.topic-period-data-card__heading-circle-graph__progress-indicator {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 60px;
  font-size: 10pt;
  line-height: 14pt;
  margin-top: -7pt;
  z-index: 2;
  text-align: center;
}


///////////////////
//  Core Styles  //
///////////////////

.topic-period-data-card {
  @include card();
  overflow: hidden;
  transition: max-height 0.5s;
}

.topic-period-data-card.is-collapsed {
  max-height: 60px;
}

.topic-period-data-card.is-expanded {
  max-height: 100000px;
}

.topic-period-data-card__heading {
  background-color: $grayscale__gray-1;
}

.topic-period-data-card__title {
  margin: 0;
  height: 60px;
  line-height: 60px;
  font-size: 16pt;
  color: $grayscale__gray-4;
}

.topic-period-data-card__collapsible-control {
  display: block;
  width: 60px;
  height: 60px;
  padding-left: 60px;
  box-sizing: border-box;
  overflow: hidden;
  @include centerThis('right');
}

.topic-period-data-card__collapsible-control:before {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('../img/icons/minus--gray.png');
  background-repeat: no-repeat;
  background-position: center center;
  @include centerThis();
  transition: transform 0.3s;
}

.topic-period-data-card__collapsible-control:after {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('../img/icons/plus--gray.png');
  background-repeat: no-repeat;
  background-position: center center;
  @include centerThis();
  transition: transform 0.3s;
}

.topic-period-data-card__collapsible-control.is-collapsed:before {
  transform: translate(0, -100%);
}

.topic-period-data-card__collapsible-control.is-collapsed:after {
  transform: translate(0, 0);
}

.topic-period-data-card__collapsible-control.is-expanded:before {
  transform: translate(0, 0);
}

.topic-period-data-card__collapsible-control.is-expanded:after {
  transform: translate(0, -100%);
}

.topic-period-data__list {}

.topic-period-data__list--bullets {
  .topic-period-data__item:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    @include centerThis('left');
    left: 40px;
    background-color: $grayscale__gray-3;
  }
}

.topic-period-data__item {
  box-sizing: border-box;
  background-color: $grayscale__white;
  min-height: 100px;
  padding: 30px 80px;
  position: relative;
}

.topic-period-data__list--documents .topic-period-data__item {
  padding: 10px 80px;
  min-height: 0px;
}

.topic-period-data__item.is-odd {
  background-color: $grayscale__gray-0;
}

.topic-period-data__item-heading {
  display: block;
  font-size: 12pt;
  @include fontStyle('bold');
  margin-bottom: 10pt;
  color: $grayscale__gray-4;
}

.topic-period-data__question-link {
  display: block;
  margin: 10pt 0;
  @include fontStyle('light-italic');
  color: $grayscale__gray-4;
  text-decoration: none;
}

.topic-period-data__item p {
  margin: 0;
  font-size: 12pt;
  line-height: 18pt;
  @include fontStyle('regular');
  color: $grayscale__gray-3;
}

.topic-period-data__item__link {
  color: $grayscale__black;
}

.topic-period-data__item__title {
  margin: 0 0 1em 0;
  color: $grayscale__gray-3;
}

.topic-period-data__item p+p {
  margin-top: 2pt;
}
