/////////////////////
//  Layout styles  //
/////////////////////

.topic-rubrics__wrapper {
  width: 100%;
  margin: 30px 0;
}

.topic-rubrics {
  width: 94%;
  height: 100%;
  margin: 0 auto;
}

.topic-rubrics__heading {
  height: 60px;
}

// THIS IS DONE ON PURPOSE
// Reduce the header height, add a progress indicator
// and hide the summary bar (progress by period)
// until the multiple-periods are integrated
.topic-rubrics__progress {
  float: right;
  font-size: 14pt;
  color: $grayscale__white;
  font-weight: bold;
  display: block;
  margin-right: 80px;
  margin-top: 20px;
  pointer-events: none;
}

.topic-rubrics__heading {
  // height: 120px;
  height: 110px;
  overflow: hidden;
}

.topic-rubrics__wrapper--secrat {
  .topic-rubrics__heading {
    height: 60px;
  }
}

.topic-rubrics__heading .topic-rubrics__action-close {
  height: 60px;
  border-bottom: 1px solid $grayscale__gray-1;
}
// End of single-period modifications

.topic-rubrics__title-bar {
  height: 60px;
  position: relative;
}

.topic-rubrics__indicators-bar {
  height: 50px;
  position: relative;
}

.topic-rubrics__summary-bar {
  height: 60px;
  position: relative;
}

.topic-rubrics__data {
  width: 100%;
}

.topic-rubrics__data-item {
  height: $topic-rubrics-data__height--md;
}


///////////////////////
//  Core Properties  //
///////////////////////

.topic-rubrics {
  @include card();
}

.topic-rubrics__title-bar {
  border-bottom: 1px solid rgba($grayscale__white, 0.2);
}

.topic-rubrics__title {
  margin: 0;
  line-height: 60px;
  padding-left: 30px;
  font-size: 18pt;
  @include fontStyle('semi-bold');
  color: $grayscale__white;
}

.topic-rubrics__action-close {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 100%;
  @include centerThis('right');
  background-color: $grayscale__gray-0;
  background-image: url('../img/icons/close--gray.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 60px;
  overflow: hidden;
}

.topic-rubrics__indicators-bar {
  background-color: $grayscale__white;
  padding: 5px 30px;
}

.topic-rubrics__summary-bar {
  background-color: rgba($grayscale__black, 0.2);
}

.topic-rubrics__summary-item {
  height: 50px;
  line-height: 50px;
}

.topic-rubrics__summary-label {
  color: $grayscale__white;
  @include fontStyle('semi-bold');
}

.topic-rubrics__summary-label--text {
  padding-right: 15px;
  border-right: 2px solid $grayscale__white;
}

.topic-rubrics__summary-label--data {
  padding-left: 15px;
}

.topic-rubrics__summary-item--ministerial {
  @include centerThis('left');
  left: 30px;
}

.topic-rubrics__summary-item--present {
  @include centerThis('right');
  right: 250px;
}

.topic-rubrics__summary-item--future {
  @include centerThis('right');
  right: 30px;
}

.topic-rubrics__data {
  background-color: $grayscale__gray-0;
}
