////////////////////////
//  UI Color Pallete  //
////////////////////////

$ui__turtle-green: #00757B;
$ui__moddy-cerulean: #75B0C2;
$ui__ucla-gold: #FFB300;
$ui__pitch-blue: #5CC4FF;
$ui__medium-blue: #42A5F5;
$ui__low-blue: #4A9DCC;
$ui__nautilus: #387799;
$ui__orange-dark: #752700;


//////////////////////////
//  Data Color Pallete  //
//////////////////////////

// Purples
$data-color__indigo-400: #5C6BC0; // Laicidad
$data-color__purple-400: #AB47BC; // Derechos Sexuales
$data-color__dark-pastel-purple: #9575CD;
$data-color__cerulean-blue: #3949AB;

// Blues
$data-color__blue: #2196F3; // (Sub) Educación Integral en Sexualidad
$data-color__cyan: #03A9F4;
$data-color__cyan-a700: #00B8D4; // Prevención de Mortalidad Materna
$data-color__denim: #1565C0;

// Greens
$data-color__cyan-600: #00ACC1; // Rendición de Cuentas
$data-color__dark-cyan: #009688; // Aborto
$data-color__dark-cyan-2: #00838F;
$data-color__blue-grey-500: #607D8B; // Provisión de Servicios a Víctimas de Violencia de Genero

// Oranges
$data-color__orange-500: #FF9800; // Salud Sexual y reproductiva
$data-color__tangerine: #F57C00;
$data-color__deep-orange-300: #FF8A65; // Suministros
$data-color__tangelo: #E65100;

// Yellows
$data-color__yellow-700: #FBC02D; // Servicios Amigables para Jovenes

// Pinks
$data-color__pink-300: #F06292; // Parto Humanizado

// Browns
$data-color__chocolat: #A67C52;

// Reds
$data-color__red-a700: #D50000; // VIH


/////////////////////////
//  Grayscale Pallete  //
/////////////////////////

$grayscale__white: #FBFBFB;
$grayscale__gray-0: #F0F0F0;
$grayscale__gray-1: #DCDCDC;
$grayscale__gray-2: #BEBEBE;
$grayscale__gray-3: #808080;
$grayscale__gray-4: #5D5D5D;
$grayscale__black: #363636;


///////////////////////////////////////////
//  Evaluation Components Color Pallete  //
///////////////////////////////////////////

// $comp-color__indigo-600: #3949AB;
$comp-color__indigo-600: #459ef0; // Derechos Humanos y Laicicidad
$comp-color__cyan-800: #00838F; // Rendición de cuentas
$comp-color__blue-800: #1565C0; // Educación Integral en Sexualidad
$comp-color__orange-700: #F57C00; // Acceso universal a la salud sexual y Reproductiva


///////////////////////////////////////
//  Evaluation Status Color Pallete  //
///////////////////////////////////////

$eval-color__green-500: #4CAF50;
$eval-color__green-800: #2E7D32;
$eval-color__yellow-400: #FFEE58;
$eval-color__orange-A400: #FF9100;
$eval-color__red: #F44336;
