///////////////////////////////////////
//  Color Fill Classes - Components  //
///////////////////////////////////////

.fill-color--indigo-600,
.fill-color--human_rights_and_secularism,
.fill-color--derechos-humanos-y-laicidad, {
  background-color: $comp-color__indigo-600;
}

.fill-color--blue-800,
.fill-color--comprehensive_sexuality_education,
.fill-color--educacion-integral-en-sexualidad {
  background-color: $comp-color__blue-800;
}

.fill-color--orange-700,
.fill-color--sexual_and_reproductive_health,
.fill-color--salud-sexual-y-reproductiva,
.fill-color--universal_access_to_sexual_and_reproductive_health,
.fill-color--acceso-universal-a-la-salud-sexual-y-reproductiva {
  background-color: $comp-color__orange-700;
}

.fill-color--cyan-800,
.fill-color--accountability,
.fill-color--rendicion-de-cuentas {
  background-color: $comp-color__cyan-800;
}


///////////////////////////////////////////
//  Color Fill Classes - Sub Components  //
///////////////////////////////////////////

// Purples
.fill-color--indigo-400,
.fill-color--subject-nid-30,
.fill-color--laicidad {
  background-color: $data-color__indigo-400;  
}

.fill-color--purple-400,
.fill-color--subject-nid-31,
.fill-color--derechos-sexuales {
  background-color: $data-color__purple-400;
}

.fill-color--dark-pastel-purple {
  background-color: $data-color__dark-pastel-purple;
}

.fill-color--cerulean-blue {
  background-color: $data-color__cerulean-blue;
}

// Blues
.fill-color--blue,
.fill-color--subject-nid-42,
.fill-color--sub-educacion-integral-en-sexualidad {
  background-color: $data-color__blue;
}

.fill-color--cyan {
	background-color: $data-color__cyan;
}

.fill-color--cyan-a700,
.fill-color--subject-nid-39,
.fill-color--prevencion-de-mortalidad-materna {
	background-color: $data-color__cyan-a700;
}

.fill-color--denim {
	background-color: $data-color__denim;
}

// Greens
.fill-color--cyan-600,
.fill-color--subject-nid-44,
.fill-color--sub-rendicion-de-cuentas {
	background-color: $data-color__cyan-600;
}

.fill-color--dark-cyan,
.fill-color--subject-nid-38,
.fill-color--aborto {
	background-color: $data-color__dark-cyan;
}

.fill-color--dark-cyan-2 {
	background-color: $data-color__dark-cyan-2;
}

.fill-color--blue-grey-500,
.fill-color--subject-nid-37,
.fill-color--provision-de-servicios-a-victimas-de-violencia-de-genero {
	background-color: $data-color__blue-grey-500;
}

// Oranges
.fill-color--orange-500,
.fill-color--subject-nid-36,
.fill-color--salud-sexual-y-reproductiva {
	background-color: $data-color__orange-500;
}

.fill-color--deep-orange-300,
.fill-color--subject-nid-43,
.fill-color--suministros {
	background-color: $data-color__deep-orange-300;
}

.fill-color--tangelo {
	background-color: $data-color__tangelo;
}

// Yellows
.fill-color--yellow-700,
.fill-color--subject-nid-41,
.fill-color--servicios-amigables-para-jovenes {
	background-color: $data-color__yellow-700;
}

// Pinks
.fill-color--pink-300,
.fill-color--subject-nid-40,
.fill-color--parto-humanizado {
	background-color: $data-color__pink-300;
}

// Browns
.fill-color--chocolat {
	background-color: $data-color__chocolat;
}

// Reds
.fill-color--red-a700,
.fill-color--subject-nid-28,
.fill-color--vih {
  background-color: $data-color__red-a700;
}


///////////////////////////////////////
//  Color Fill Classes - Evaluation  //
///////////////////////////////////////

.fill-color--eval-dark-green {
  background-color: $eval-color__green-800;
}

.fill-color--eval-light-green {
  background-color: $eval-color__green-500;
}

.fill-color--eval-yellow {
  background-color: $eval-color__yellow-400;
}

.fill-color--eval-orange {
  background-color: $eval-color__orange-A400;
}

.fill-color--eval-red {
  background-color: $eval-color__red;
}


///////////////////////////////////
//  Color Fill Classes - Others  //
///////////////////////////////////

.fill-color--average {
  background-color: $ui__nautilus;
}
