////////////////////////////////
//  Normalize Generic Markup  //
////////////////////////////////

/* Custom HTML normalization */

body {
  font-family: "Open Sans", sans-serif;
  @include fontStyle("regular");
  color: $grayscale__black;
  background-color: $grayscale__white;
}

div {
  box-sizing: border-box;
}

h1 {
  @include fontStyle("bold");
  font-size: 36pt;
  line-height: 36pt;
}

h2 {
  @include fontStyle("bold");
  font-size: 30pt;
  line-height: 30pt;
}

h3 {
  @include fontStyle("bold");
  font-size: 24pt;
  line-height: 24pt;
}

h4 {
  @include fontStyle("bold");
  font-size: 18pt;
  line-height: 18pt;
}

h5 {
  @include fontStyle("bold");
  font-size: 12pt;
  line-height: 12pt;
}

p {
  @include fontStyle("normal");
  font-size: 14pt;
  line-height: 20pt;
}


//////////////////////////
//  Font Style Classes  //
//////////////////////////

.light {
  @include fontStyle("light");
}

.light-italic {
  @include fontStyle("light-italic");
}

.regular {
  @include fontStyle("regular");
}

.italic {
  @include fontStyle("italic");
}

.semi-bold {
  @include fontStyle("semi-bold");
}

.semi-bold-italic {
  @include fontStyle("semi-bold-italic");
}

.bold {
  @include fontStyle("bold");
}

.bold-italic {
  @include fontStyle("bold-italic");
}

.extra-bold {
  @include fontStyle("extra-bold");
}

.extra-bold-italic {
  @include fontStyle("extra-bold-italic");
}

/* Normalize overrides */
button, input, optgroup, select, textarea {
  font-family: "Open Sans", sans-serif;
}